* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(31, 30, 30);
}

#container {
    height: auto;
    width: auto;
}
/*This is the Start Section*/
#start {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background-color: #e7f1fa;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    border-radius: 30px 10px;
    border: 2px solid #b0c4d8;
    cursor: pointer;
    /* display: none; */
}

#start:hover {
    background-color: black;
    color: #e7f1fa;
}
/*This is the Guide Section*/
#guide, #quiz {
    height: auto;
    width: 500px;
    padding: 20px;
    background-color: #e7f1fa;
    border-radius: 30px 10px;
    border: 1px solid #b0c4d8;
    display: none;
}

#guide h2 {
    font-size: 60px;
    color: grey;
}

#guide h4 {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#guide #button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#guide #button button {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: #e7f1fa;
    background-color: grey;
    border: 1px solid #b0c4d8;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
}

#guide #button button:last-child {
    margin: 10px 0;
}

#guide #button button:hover {
    background-color: #e91e3a;
}
/*This is the Quiz Section*/
#quiz {
    /* display: block; */
    height: 480px;
    position: relative;
}

#quiz #quiz_header {
    height: 60px;
    width: 100%;
    background-color: #848485;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
}

#quiz #quiz_header h5 {
    font-size: 28px;
    margin: 0 20px;
    color: black;
}

#quiz #quiz_header #timer {
    height: 50px;
    width: 150px;
    background-color: black;
    color: #e7f1fa;
    border: 1px solid #b0c4d8;
    font-size: 18px;
    border-radius: 20px 5px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

#quiz #quiz_header #timer h6 {
    font-size: 18px;
    display: grid;
    place-items: center;
    color: #fff;
    margin: 0 10px;
}

#quiz #quiz_header #timer #time {
    height: 35px;
    width: 40px;
    background-color: #fff;
    color: #f69d9e;
    border: 1px solid #b0c4d8;
    border-radius: 15px ;
    margin: 2px 0 0 27px;
}
/*Quiz Question Section*/
#quiz #questions {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
}

#quiz #questions h2 {
    font-size: 20px;
}

#quiz #questions h2:first-child {
    margin: 0 10px 0 5px;
}
/*Options*/
#quiz #optionList {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 160px;
}

#quiz #optionList h4 {
    height: 50px;
    width: 470px;
    background-color: black;
    line-height: 50px;
    margin: 5px 0;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    border: 1px solid #b0c4d8;
    cursor: pointer;
}

#quiz #optionList h4:hover {
    background-color: #e91e3a;
}

#quiz #optionList .active {
    background-color: #e91e3a;
}

#quiz #optionList .disabled {
    pointer-events: none;
}

/*Answer Section*/
#quiz #nextSection {
    height: 60px;
    width: 100%;
    /* background-color: #fafafc; */
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    /* border-radius: 20px 0; */
    overflow: hidden;
}

#quiz #nextSection h3 {
    margin: 10px 10px;
    display: none;
}

#quiz #nextSection h3:last-child {
    height: 40px;
    width: 50%;
    display: grid;
    place-items: center;
    background-color: black;
    position: absolute;
    right: 0;
    color: #e7f1fa;
    border: 1px solid #b0c4d8;
    font-size: 18px;
    border-radius: 20px 5px;
    cursor: pointer;
    margin: 0 20px;
}


#quiz #nextSection h3:hover {
    background-color: #e91e3a;
}

#quiz #nextSection h3:first-child:hover {
    background: none;
}

/*Result Section*/
#container #result {
    height: 500px;
    width: 450px;
    padding: 20px;
    background-color: #e7f1fa;
    border-radius: 30px 10px;
    border: 1px solid #b0c4d8;
    overflow: hidden;
    position: relative;
    display: none;
}

#container #result h6 {
    font-size: 18px;
    height: 40px;
    width: 87%;
    top: 235px;
}

#container #result #tryAgain {
    display: flex;
    position: relative;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

#container #result #tryAgain:hover {
    background-color: #b0c4d8;
    outline: none;
}

#container #result #points {
    font-size:18px;
    top: 175px;
}

#container #result form {
    font-size: 18px;
}

#container #result input {
    font-size: 18px;
}

#container #result .highScore {
    height: 30px;
    width: 88px;
    background-color: #161718;
    color: white;
    border-radius: 5px 5px;
    border: 1px solid #121213;
    overflow: hidden;
    position: right;
    cursor: pointer;
}

#container #result .highScore:hover {
    background-color: #b0c4d8;
    color: black;
}